@font-face {
  font-family: "Forum";
  font-weight: 400;
  src: url(../fonts/Forum/Forum-Regular.ttf);
  src: url(../fonts/Forum/Forum-Regular.woff);
  src: url(../fonts/Forum/Forum-Regular.woff2);
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(../fonts/Roboto/Robotomedium.ttf);
  src: url(../fonts/Roboto/Robotomedium.woff);
  src: url(../fonts/Roboto/Robotomedium.woff2);
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url(../fonts/Roboto/Robotolight.ttf);
  src: url(../fonts/Roboto/Robotolight.woff);
  src: url(../fonts/Roboto/Robotolight.woff2);
}

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src: url(../fonts/Roboto/Robotothin.ttf);
  src: url(../fonts/Roboto/Robotothin.woff);
  src: url(../fonts/Roboto/Robotothin.woff2);
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  padding: 74px 0 76px;
  background-color: #030303;
  color: #ffffff;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  margin-right: 20px;
}

.logo__title {
  font-family: "Forum", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.logo:hover {
  color: #9d8665;
}

.menu {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 50px;
}

.menu--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu--row .menu__item:not(:last-of-type) {
  margin-right: 76px;
}

.menu__link:hover {
  color: #9d8665;
}

.menu__link:active {
  color: #9d8665;
}

.welcome {
  padding: 114px 0 246px;
  background-color: #030303;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: calc(50% + 350px);
  color: #ffffff;
}

.welcome__subtitle {
  margin-bottom: 76px;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 2px;
}

.welcome .section__title {
  margin-bottom: 26px;
}

.welcome__button {
  height: 75px;
  width: 360px;
  background-color: #710707;
  border: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 2px;
  color: #ffffff;
  cursor: pointer;
}

.welcome__button:hover {
  background-color: #9d8665;
}

.section__title {
  font-family: "Forum", serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section--padding {
  padding: 75px 0 75px;
}

.section__line {
  border-width: 0;
  height: 3px;
  margin-bottom: 75px;
  background-color: #710707;
}

.title--beige {
  color: #9d8665;
}

.title--margin {
  margin-bottom: 25px;
}

.visiting__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr [col-start])[2];
      grid-template-rows: repeat(2, 1fr [col-start]);
  -webkit-column-gap: 60px;
          column-gap: 60px;
  row-gap: 78px;
}

.visiting__card:hover .card__line {
  width: 440px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.visiting .card__img {
  margin-bottom: 25px;
}

.visiting .card__title {
  margin-bottom: 9px;
  font-family: Forum;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}

.visiting .card__line {
  margin-left: 0;
  border-width: 0;
  width: 300px;
  height: 2px;
  background-color: #710707;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.visiting .card__text {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.visiting .card__text--big {
  font-size: 22px;
  margin-bottom: 10px;
}

.visiting .card__text--small {
  font-size: 18px;
}

.explore {
  background-color: #030303;
  color: #ffffff;
}

.explore--flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.explore__content {
  width: 45.6%;
}

.explore__text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 38.5px;
}

.explore__text--focused {
  color: #9d8665;
}

.explore__text:not(:last-of-type) {
  margin-bottom: 25px;
}

.video {
  padding: 90px 0 75px;
}

.video__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video .controls {
  max-width: 1440px;
  height: 85px;
  margin: -5px 0 40px;
  padding: 0 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
}

.video .controls__button {
  height: 55px;
  width: 55px;
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.video .controls .back {
  background-image: url("../icons/back.svg");
  margin-right: 7px;
}

.video .controls .play {
  background-image: url("../icons/play.svg");
  margin-right: 7px;
}

.video .controls .forward {
  background-image: url("../icons/forward.svg");
  margin-right: 35px;
}

.video .controls .mute {
  background-image: url("../icons/sound.svg");
  margin-right: 20px;
}

.video .controls .fullscreen {
  background-image: url("../icons/fullscreen.svg");
}

.video .controls .range {
  height: 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: -webkit-gradient(linear, left top, right top, from(#24809E), color-stop(40%, #24809E), color-stop(40%, #C4C4C4), to(#C4C4C4));
  background: linear-gradient(to right, #24809E 0%, #24809E 40%, #C4C4C4 40%, #C4C4C4 100%);
  outline: none;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
}

.video .controls .range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
          appearance: none;
  cursor: ew-resize;
  background: #FFFFFF;
}

.video .controls .progressbar {
  width: 820px;
  margin-right: 40px;
}

.video .controls .volumebar {
  width: 155px;
  margin-right: 48px;
}

.video__text {
  width: 50%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #000000;
}

.tickets {
  background-color: #030303;
  color: #ffffff;
}

.tickets__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tickets .form {
  width: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tickets .form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
}

.tickets .form__container:not(:first-of-type) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.tickets .form__container .input-amout__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tickets .form__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}

.tickets .form__title--margin {
  margin-bottom: 11px;
}

.tickets .form__input {
  width: 270px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tickets .form .radio {
  width: 17px;
  height: 17px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  background: #030303;
  cursor: pointer;
}

.tickets .form .radio:checked {
  background-color: #FFFFFF;
}

.tickets .form label {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

.tickets .form .input-group {
  width: 150px;
  height: 50px;
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 2px solid #ffffff;
}

.tickets .form .input-group [type="button"] {
  width: 46px;
  height: 46px;
  background-color: #030303;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: #ffffff;
  cursor: pointer;
}

.tickets .form .input-group:first-of-type {
  margin-bottom: 35px;
}

.tickets .form .input-group:not(:first-of-type) {
  margin-bottom: 50px;
}

.tickets .form .quantity-field {
  width: 46px;
  height: 46px;
  background-color: #030303;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.tickets .form .quantity-field::-webkit-inner-spin-button, .tickets .form .quantity-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tickets .total-price {
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
}

.tickets .buy__button {
  width: 175px;
  height: 50px;
  background: #ffffff;
  border-radius: 2px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 2px;
  color: #000000;
  cursor: pointer;
}

.tickets .buy__button:hover {
  background-color: #9d8665;
}

.contacts {
  color: #000000;
}

.contacts__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts .address__title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}

.contacts .address__title:last-of-type {
  margin-bottom: 36px;
}

.contacts .address__text {
  font-family: Roboto;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

.contacts .address__text:not(:last-of-type) {
  margin-bottom: 20px;
}

.footer {
  padding: 75px 0;
  background-color: #030303;
  color: #ffffff;
}

.footer .logo {
  margin-right: 145px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__menu {
  width: 25%;
  margin-right: 398px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__links {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer .links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .links__list .links__item:not(:last-of-type) {
  margin-right: 24px;
}

.footer .links__list .links--round {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  border: 1px solid #666666;
}

.footer .links__list .links--round:hover {
  background-color: #9d8665;
  border: 1px solid #9d8665;
}
/*# sourceMappingURL=style.css.map */