@font-face {
    font-family: 'Forum';
    font-weight: 400;
    src: url(../fonts/Forum/Forum-Regular.ttf);
    src: url(../fonts/Forum/Forum-Regular.woff);
    src: url(../fonts/Forum/Forum-Regular.woff2);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(../fonts/Roboto/Robotomedium.ttf);
    src: url(../fonts/Roboto/Robotomedium.woff);
    src: url(../fonts/Roboto/Robotomedium.woff2);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url(../fonts/Roboto/Robotolight.ttf);
    src: url(../fonts/Roboto/Robotolight.woff);
    src: url(../fonts/Roboto/Robotolight.woff2);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    src: url(../fonts/Roboto/Robotothin.ttf);
    src: url(../fonts/Roboto/Robotothin.woff);
    src: url(../fonts/Roboto/Robotothin.woff2);
}

$bg-dark: #030303;
$dark-red: #710707;
$font-gold: #9d8665;


.wrapper {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    padding: 74px 0 76px;
    background-color: $bg-dark;
    color: #FFFFFF;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    display: flex;
    align-items: center;
    &__icon {
        margin-right: 20px;
    }
    &__title {
    font-family: 'Forum', serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    }
    &:hover {
        color: $font-gold;
    }
}

.menu {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 50px;
    &--row {
        display: flex;
        align-items: center;
        .menu__item:not(:last-of-type) {
            margin-right: 76px;
        }
    }
    &__link:hover {
        color: $font-gold;
    }
    &__link:active {
        color: $font-gold;
    }
}

.promo {
    padding: 114px 0 246px;
    background-color: $bg-dark;
    background-image: url("../img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    color: #FFFFFF;
    &__subtitle {
        margin-bottom: 76px;
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 300;
        letter-spacing: 2px;
    }
    .section__title {
        margin-bottom: 26px;
    }
    &__button {
        height: 75px;
        width: 360px;
        background-color: $dark-red;
        border: none;
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        font-weight: 100;
        letter-spacing: 2px;
        color: #FFFFFF;
        cursor: pointer;
    }
    &__button:hover {
        background-color: $font-gold;
    }
}

.section__title {
    font-family: 'Forum', serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

